
.container-about-me {
  display: flex;
  margin: 0 7em;
  padding: 4% 0;
}

.container-about-me .title p:nth-child(1) {
  color: #FFA800;
  font-size: 2.5rem;
  letter-spacing: 0.8px;
}

.container-about-me .title p:nth-child(2) {
  color: transparent;
  font-size: 2.8rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(12, 11, 7, 0.5);
  letter-spacing: 0.88px;
}


.container-about-me .title p:nth-child(3) {
  color: transparent;
  font-size: 3.1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:  rgba(12, 11, 7, 0.7);
  letter-spacing: 0.96px;
}

.container-about-me .title p:nth-child(4) {
  color: black;
  font-size: 3.4rem;
  letter-spacing: 1.04px;
}

.container-about-me .title p {
  margin-bottom: 1.5%;
  font-weight: 400;
}

.text-wrapper {
  width: 80%;
  margin: 5% 0;
}

.text-wrapper p {
  font-weight: 400;
}

.list {
  width: 55%;
}

.list-item {
  display: flex;
  margin-bottom: 10%;
}

.fa-solid {
  color: #FFA800;
  font-size: x-large;
}

.about-icon {
  margin-right: 5%;
}


@media (min-width: 0) and (max-width: 767px) {
  .container-about-me {
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
  }

  .text-wrapper,
  .list {
    width: 100%;
  }

  .right-side .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-side .container-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .container-about-me .title p:nth-child(1),
  .container-about-me .title p:nth-child(2),
  .container-about-me .title p:nth-child(3),
  .container-about-me .title p:nth-child(4) {
    text-align: center;
  }

  .container-about-me .title p:nth-child(4),
  .container-about-me .title p:nth-child(3) {
    display: none;
  }

  .text-wrapper p {
    text-align: justify;
  }

  .list-item {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .container-about-me {
    flex-direction: column;
  }

  .container-about-me .title p:nth-child(1),
  .container-about-me .title p:nth-child(2),
  .container-about-me .title p:nth-child(3),
  .container-about-me .title p:nth-child(4) {
    text-align: center;
  }

  .container-about-me .title p:nth-child(4),
  .container-about-me .title p:nth-child(3) {
    display: none;
  }

  .text-wrapper p {
    text-align: justify;
  }

  .list-item {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .list {
    width: 100%;
  }

  .container-image {
    text-align: center;
  }

  .container-image img {
    width: 100%;
    height: 60rem;
  }

}

@media (min-width: 0) and (max-width: 1180px) {
  .text-wrapper {
    width: 100%;
  }
}