.main-post {
  margin: 8% 7%;
  height: 100%;
}

.all-post-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8%;
  row-gap: 40px;
  justify-content: center;
}

.post-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: calc(33.333% - 8%)
}

.post-card img {
  margin-bottom: 5%;
  max-height: 320px;
  width: 100%;
}

.post-h3 {
  margin-bottom: 1%;
}

#view-more-posts {
  background-color: #FFA800;
  color: black;
  margin-top: 1.2em;
  border: none;
  font-size: larger;
  
}



@media (min-width: 0) and (max-width: 424px) {
  .post-card {
    width: 100%;
  }
}

@media (min-width: 425px) and (max-width: 980px) {
  .post-card {
   width: calc(50% - 8%);

  }
}

@media (min-width: 0) and (max-width: 424px) {
  .post-card {
    width: 100%;
  }
}

@media (min-width: 425px) and (max-width: 980px) {
  .post-card {
   width: calc(50% - 8%);

  }
}

