.main-four-post-style {
  background-color: #F2F2F2;
  background-image: url(/images/fashion-post/fashion-post-bg.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100% 20%;
  position: relative;
}

.four-post-style-content {
  display: flex;
  flex-direction: column;
  padding: 6em 7em;
  border-top: 3px inset rgb(0, 0, 0, 0.1);
  text-align: justify;
}

.hero-text-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15em;
  flex-wrap: wrap;
}

figure img {
  width: 100%;
  height: auto;
}

.container-content-css {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.style-content-text {
  width: 30em;
  align-self: center;
}

.hero-text-container .hero-title p:nth-child(1) {
  color: #FFA800;
  font-size: 2.5rem;
  letter-spacing: 0.8px;
}

.hero-text-container .hero-title p:nth-child(2) {
  color: transparent;
  font-size: 2.8rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(12, 11, 7, 0.5);
  letter-spacing: 0.88px;
}


.hero-text-container .hero-title p:nth-child(3) {
  color: transparent;
  font-size: 3.1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:  rgba(12, 11, 7, 0.7);
  letter-spacing: 0.96px;
}

.hero-text-container .hero-title p:nth-child(4) {
  color: black;
  font-size: 3.4rem;
  letter-spacing: 1.04px;
}

.hero-text-container .hero-title p {
  margin-bottom: 1rem;
  font-weight: 400;
}

.style-content-title {
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 1em;
}

.style-content-tex {
  line-height: 1.2em;
}

.hero-text {
  align-self: auto;
  width: 35em;
}

.container-content-1, .container-content-2,
.container-content-3, .container-content-4 {
  align-items: center;
}

.header-title {
  color: #ad9766;
  font-size: 2.5rem;
  letter-spacing: 0.8px;
  margin-bottom: 0.8rem;
  line-height: 99%;
}
@media (min-width: 0) and (max-width: 1310px) {
  .container-content-css {
    justify-content: center;
  }

  .container-content-1, .container-content-2, .container-content-3, .container-content-4 {
    width: 100%;
  }

  .style-content-text {
    width: 100%;
    margin-bottom: 1em;
  }

  .container-content-css .container-content-1,
  .container-content-css .container-content-2,
  .container-content-css .container-content-3,
  .container-content-css .container-content-4 {
    order: 1;
  }

  .container-content-css figure {
    order: 2;
    margin-bottom: 3em;
  }
}

@media (min-width: 0) and (max-width: 1365px) {
  .hero-text-container {
    justify-content: center;
  }

  .hero-text {
    width: 100%;
  }

  .hero-title {
    margin-bottom: 2em;
  }

  .hero-title p {
    text-align: center;
  }

  .hero-text p,
  .hero-text .header-title {
    text-align: center;
  }
}

@media (min-width: 1310px) and (max-width: 1365px) {
  .main-four-post-style {
    background-size: 120% 29%;
  }
}

@media (min-width: 0) and (max-width: 1300px) {
  .main-four-post-style {
    background-size: 140% 22%;
  }
}

@media (min-width: 0) and (max-width: 768px) {
  .four-post-style-content .hero-title p:nth-child(1) {
    font-size: 1.5rem;
  }

  .four-post-style-content .hero-title p:nth-child(2) {
    font-size: 1.8rem;
  }

  .four-post-style-content .hero-title p:nth-child(3) {
    font-size: 2.1rem;
  }

  .four-post-style-content .hero-title p:nth-child(4) {
    font-size: 2rem;
  }

  .four-post-style-content {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (min-width: 436px) and (max-width: 767px) {
  .main-four-post-style {
    background-size: 140% 20%;
  }
}

@media (min-width: 0) and (max-width: 435px) {
  .main-four-post-style {
    background-size: 150% 23%;
  }

  .hero-text-container {
    margin-bottom: 10em;
  }

  .four-post-style-content {
    padding-top: 3em;
  }
}