
main {
  margin: 0 7%;
}

#carousel-text {
  height: 166px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#carousel {
  height: 550px;
}

.carousel-card {
  display: flex;
  text-align: center;
}