
/* =====================================CAROUSEL================================ */
#carousel-head-line {
  margin: 0 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#carousel-1 {
  margin: 0 7%;
  display: flex;
  justify-content: space-between;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* =====================================TRENDING================================ */
#trending {
  background-color: #D8E7EC;
  display: flex;
  padding: 0 7%;
}


#trending-text {
  width: fit-content;
  text-align: left;
}

#trending-images {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/* =====================================TRENDING================================ */
#fashion {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fashion-p, #fashion-span {
  color: white;
}