
/* =====================================CAROUSEL================================ */

.carousel-head-line {
  margin: 0 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-arrows {
  display: flex;
  width: 12em;
  justify-content: space-between;
}

.arrow-btn {
  display: flex;
  align-items: center;
  width: 6em;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arrow-btn:hover {
  transform: scale(1.1);
}

.arrow-btn P {
  font-weight: 400;
  font-size: 1rem;
}

.fa-chevron-left {
  margin-right: 0.5em;
}

.fa-chevron-right {
  margin-left: 0.5em;
}

.fa-solid {
  font-size: 1.5rem;
}

.carousel-1 {
  margin: 0 7vw;
  display: flex;
  justify-content: space-between;
}

.carousel-img {
  margin: 6% 0;
}

.carousel-h2{
  margin: 5% 0;
}
.carousel-h3 {
  margin-bottom: 1%;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 6%;
}

/* =====================================TRENDING================================ */
#trending {
  background-color: #F2F2F2;
  display: flex;
  padding: 6% 7vw;
}

#trending-h2 {
  margin-bottom: 2%;
}

#trending-main-img {
  margin: 8% 0;
}

#trending-text {
  width: fit-content;
  text-align: left;
  padding-top: 7.8%;
  padding-left: 6%;
}

#acessorize {
  font-weight: 400;
  letter-spacing: 1.12px;
}

#trending-title {
  font-weight: 400;
  font-size: 2.3rem;
  padding: 2% 0;
  color: #FFA800;
}

#trending-main-text {
  line-height: 125%;
}

.trending-images {
  margin-bottom: 10.8%;
}

#trending-images {
  padding: 7.8% 1%;
  display: flex;
  flex-direction: column;
}

#yellow-btn {
  background-color: #FFA800;
  color: black;
}

/* =====================================FASHION================================ */
.fashion {
  background-color: #303030;
  display: flex;
  flex-direction: column;
}

.fashion-p, .fashion-title {
  color: white;
  text-align: center;
}

.fashion-title {
  margin: 4% 0 0.5% 0;
  letter-spacing: 2.56px;
  font-size: 2.5rem;
}

.fashion-p {
  margin-bottom: 4%;
}

.fashion-wrap {
  padding: 0 7vw;
  margin-bottom: 7%;
  display: flex;
  justify-content: space-between;
}

.fashion-images {
  transition: transform 0.3s ease;
}

.fashion-images:hover {
  transform: scale(1.1);
}


/* =====================================EDITORIALS================================ */
.editorials {
  margin: 0 7vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.editorial-head-line {
  margin: 5% 0;
  letter-spacing: 1.68px;
}

.editorial-images-container {
  display: flex;
}

.editorial-images {
  transition: transform 0.3s ease;
}

.editorial-images:hover {
  transform: scale(1.05);
}

#editorial-img-1 {
  margin-bottom: 1.5em;
}

.vertical-images {
  margin-right: 1em;
}
