html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  min-width: 375px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  display: contents;
}

ul {
  list-style: none;
}
/* ==================================== Style CSS ================================== */

h2,h3,p,span {
  color: black;
}

#read-more-btn a {
  background-color: black;
  color: black;
}

p {
  font-family: "Roboto", sans-serif;
}