html {
  box-sizing: border-box;
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  min-width: 375px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  display: contents;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

/* ==================================== Style CSS ================================== */

h2,h3,p,span {
  color: black;
}

#read-more-btn a {
  background-color: black;
  color: black;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1,h2,h3,span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 1.3rem;
}

.btn-read-more {
  width: fit-content;
  background-color: black;
  display: flex;
  align-self: center;
  color: white;
  text-decoration: none;
  padding: 0.7em 1em;
  margin: 0.7em 0;
  transition: transform 0.3s ease;
}

.btn-read-more:hover {
  transform: scale(1.1);
}